<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
</head>
<body>
<div class="container">
    {% for bidder in bidder_list %}
    <div class="subcont">
        <h2>ID: {{ bidder.id }}</h2>
        <h2>User: {{ bidder.user }}</h2>
        <h2>job: {{ bidder.job }}</h2>
        <h2>message: {{ bidder.message }}</h2>
        <h2>bid amount: {{ bidder.bid_amount }}</h2>
        <h2>duration: {{ bidder.duration }}</h2>
        <h2>status: {{ bidder.status }}</h2>
    </div>
{% endfor %}
</div>

</body>
</html>